$mainColor: rgb(66, 66, 66);
.container{
    background-color: $mainColor;
    height: 100vh;
    width: 265px;
}
.menu-item{
    background-color: rgb(130, 0, 0);
    padding: 15px;
    color: whitesmoke;
    width: 200px;
    list-style: none;
    margin: 20px 0;
    border-radius: 2px;
    cursor: pointer;
}
.menu-list {
    padding: 15px;
    list-style-type: none;
}
.q{
    width: 265px;
    height: 150px;
    // background-color: aqua;
}